<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="nz.ac.massey.cs.jquest.graphbuilder" name="GraphBuilder" schema="schema/nz.ac.massey.cs.jquest.graphbuilder.exsd"/>
   <extension-point id="nz.ac.massey.cs.jquest.graphquery" name="GraphQuery" schema="schema/nz.ac.massey.cs.jquest.graphquery.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="nz.ac.massey.cs.care.category"
            name="JQuest">
      </category>
      <view
            category="nz.ac.massey.cs.jquest.category"
            class="nz.ac.massey.cs.jquest.views.SingleDependencyView"
            icon="icons/repair.png"
            id="nz.ac.massey.cs.jquest.SingleDependencyView"
            name="Dependency Analyzer"
            restorable="true">
      </view>
      <view
            class="nz.ac.massey.cs.jquest.views.QueryView"
            icon="icons/repair.png"
            id="nz.ac.massey.cs.jquest.QueryView"
            name="Query View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="nz.ac.massey.cs.jquest.objectContribution1"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <menu
               id="submenu"
               label="JQuest"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <menu
               id="analysismenu"
               label="Analysis"
               path="submenu/group1">
            <separator
                  name="separator1">
            </separator>
         </menu>
         <action
               class="nz.ac.massey.cs.jquest.actions.JquestPopup"
               id="nz.ac.massey.cs.jquest.scdaction"
               label="find strong circular dependencies between packages"
               menubarPath="submenu/analysismenu/separator1">
         </action>
         <action
               class="nz.ac.massey.cs.jquest.actions.JquestPopup"
               id="nz.ac.massey.cs.jquest.awdaction"
               label="find abstraction without decoupling"
               menubarPath="submenu/analysismenu/separator1">
         </action>
         <action
               class="nz.ac.massey.cs.jquest.actions.JquestPopup"
               id="nz.ac.massey.cs.jquest.stkaction"
               label="find subtype knowledge"
               menubarPath="submenu/analysismenu/separator1">
         </action>
         <action
               class="nz.ac.massey.cs.jquest.actions.JquestPopup"
               id="nz.ac.massey.cs.jquest.deginhaction"
               label="find degenerated inheritance"
               menubarPath="submenu/analysismenu/separator1">
         </action>
         <action
               class="nz.ac.massey.cs.jquest.actions.JquestPopup"
               id="nz.ac.massey.cs.jquest.critical"
               label="find critical dependencies"
               menubarPath="submenu/analysismenu/separator1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="nz.ac.massey.cs.jquest.objectContribution2"
            objectClass="org.eclipse.jdt.internal.core.JarPackageFragmentRoot">
         <action
               class="nz.ac.massey.cs.jquest.actions.JquestPopup"
               id="nz.ac.massey.cs.jquest.actionLibrary"
               label="Show Library Dependencies"
               menubarPath="submenu/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="nz.ac.massey.cs.jquest.objectContribution3"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <action
               class="nz.ac.massey.cs.jquest.actions.JquestPopup"
               id="nz.ac.massey.cs.jquest.action1"
               label="Show Dependencies"
               menubarPath="submenu/group1">
         </action>
      </objectContribution>
   </extension>
	<!--<extension point="org.eclipse.ui.preferencePages">
 		<page id="BlacklistPreferencePage"
  	      name="Blacklisted"
	      class="nz.ac.massey.cs.care.preferences.BlacklistedPreferencePage">
   		</page>
   	</extension>-->
</plugin>
