<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="nz.ac.massey.cs.jquest.graphbuilder">
      <graphbuilder
            class="nz.ac.massey.cs.jquest.graphbuilder.depfinder.DepFinderGraphBuilder">
      </graphbuilder>
   </extension>

</plugin>
